
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>index</title>
</head>
<body>
    <h2>index</h2>

    <a asp-controller="Home" asp-action="Groenten">groenten</a>
    <a asp-controller="Home" asp-action="Studenten">studenten</a>

</body>
</html>
